{{ template "header.html" . }}

<h1>Ooops, something went wrong!</h1>

{{ if .rosettaError }}
  {{ with .rosettaError }}
    <div class="alert alert-danger">
      <h5>Server Error</h5>
      <div>Code: {{ .Code }}</div>
      <div>Message: {{ .Message }}</div>
      <div>Retriable: {{ .Retriable }}</div>
      {{ if len .Details }}
        <br/>
        <h5>Error details</h5>
        {{ range $key, $value := .Details }}
          <div>{{ $key }}: {{ $value }}</div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
{{ else }}
  {{ if .error }}
    <div class="alert alert-danger">
      <strong>Error:</strong> {{ .error }}
    </div>
  {{ end }}
{{ end }}

{{ template "footer.html" }}
