{{ template "header.html" . }}

<h1>Ooops, something went wrong!</h1>

{{ if .rosettaError }}
  {{ with .rosettaError }}
    <div class="alert alert-danger">
      <div><strong>Rosetta Error</strong></div>
      <div>Code: {{ .Code }}</div>
      <div>Message: {{ .Message }}</div>
      <div>Retriable: {{ .Retriable }}</div>
      {{ if len .Details }}
        <div>Details: {{ .Details }}</div>
      {{ end }}
    </div>
  {{ end }}
{{ else }}
  {{ if .error }}
    <div class="alert alert-danger">
      <strong>Error:</strong> {{ .error }}
    </div>
  {{ end }}
{{ end }}

{{ template "footer.html" }}
