{{ template "header.html" }}

<h1>{{ .identifier.Blockchain }} - {{ .identifier.Network }}</h1>

{{ with .options }}
  <h2>Network Information</h2>

  <div class="card">
    <div class="card-header">Network Options</div>
    <div class="card-body">
      {{ if .Version }}
        {{ with .Version }}
          <div>Rosetta Version:
            {{ if .RosettaVersion }}
              <span>{{ .RosettaVersion }}</span>
            {{ else }}
              <span class="text-muted">not available</span>
            {{ end }}
          </div>
          <div>
            Node Version:
            {{ if .NodeVersion }}
              <span>{{ .NodeVersion }}</span>
            {{ else }}
              <span class="text-muted">not available</span>
            {{ end }}
          </div>
          <div>
            Middleware Version:
            {{ if .MiddlewareVersion }}
              <span>{{ .MiddlewareVersion }}</span>
            {{ else }}
              <span class="text-muted">not available</span>
            {{ end }}
          </div>
        {{ end }}
      {{ else }}
        <p class="text-muted">Version information is not available</p>
      {{ end }}

      <hr/>

      {{ with .Allow }}
        <div class="row">
          <div class="col-md-4">
            <strong>Operation Types</strong>
            {{ range $name := .OperationTypes }}
              <div>{{ $name }}</div>
            {{ end }}
          </div>
          <div class="col-md-4">
            <strong>Operation Statuses</strong>
            {{ range .OperationStatuses }}
              <div>{{ .Status }} <span class="small text-muted">success={{ .Successful }}</span></div>
            {{ end }}
          </div>
        </div>
      {{ end }}

      <br/>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%">Code</th>
            <th width="10%">Retriable</th>
            <th width="40%">Message</th>
            <th>Meta</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Allow.Errors }}
            <tr>
              <td>{{ .Code }}</td>
              <td>{{ if .Retriable }} Yes {{ else }} No {{ end }}</td>
              <td>{{ .Message }}</td>
              <td>
                {{ range $k, $v := .Details }}
                  <div class="small">{{ $k }}: {{ $v }}</div>
                {{ end }}
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>

    </div>
  </div>
{{ end }}

<br/>

<h2>Status</h2>

<div class="card">
  <div class="card-header">Current Block</div>
  <div class="card-body">
    {{ with .status.CurrentBlockIdentifier }}
      <div>Hash: <a href="/{{ $.identifier.Blockchain }}/{{ $.identifier.Network }}/block/{{ .Hash }}">{{ .Hash }}</a></div>
      <div>Index: <a href="/{{ $.identifier.Blockchain }}/{{ $.identifier.Network }}/block/{{ .Index }}">{{ .Index }}</a></div>
    {{ end }}
    {{ with .status.SyncStatus }}
      <div>
        Sync Status: {{ .Stage }}
        <span class="small text-muted">(current={{ .CurrentIndex }}, target: {{ .TargetIndex }})</span>
      </div>
    {{ end }}
  </div>
</div>

<br/>

<div class="card">
  <div class="card-header">Oldest Block</div>
  <div class="card-body">
    {{ if .status.OldestBlockIdentifier }}
      {{ with .status.OldestBlockIdentifier }}
        <div>Hash: {{ .Hash }}</div>
        <div>Index: {{ .Index }}</div>
      {{ end }}
    {{ else }}
      <div>No oldest block info available</div>
    {{ end }}
  </div>
</div>

<br/>

<div class="card">
  <div class="card-header">Genesis Block</div>
  <div class="card-body">
    {{ with .status.GenesisBlockIdentifier }}
      <div>Hash: {{ .Hash }}</div>
      <div>Index: {{ .Index }}</div>
    {{ end }}
  </div>
</div>

<br/>

<h2>Peers</h2>
<p>Total of {{ len .status.Peers }} peers found</p>

{{ range .status.Peers }}
  <div class="card">
    <div class="card-header">{{ .PeerID }}</div>
    <div class="card-body">
      {{ range $key, $value := .Metadata }}
        <div class="small">{{ $key }} = {{ $value }}</div>
      {{ end }}
    </div>
  </div>
  <br/>
{{ end }}

{{ template "footer.html" }}
